**/.DS_Store
/.idea
__pycache__/
data/features/*
data/saved_models/*
data/area-Accuracies.png
data/experiments.txt
data/feature_importances_LinearSVC.txt
data/feature_importances_SGDClassifier.txt
venv/
project-checkpoints/
